<!DOCTYPE html>
<!-- saved from url=(0048)file:///Users/Peter/Desktop/notesmarketplace.htm -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <link rel="stylesheet" type="text/css" href="./marketplace_files/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./marketplace_files/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./marketplace_files/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="./marketplace_files/fileinput.min.css">
  <link rel="stylesheet" type="text/css" href="./marketplace_files/nv.d3.min.css">
  <link rel="stylesheet" type="text/css" href="./marketplace_files/realsite.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <title> Notehub Marketplace </title>
</head>

<body>


  <div class="page-wrapper">
    <div class="header header-minimal primary">
      <div class="header-wrapper">
        <div class="container">
          <div class="header-inner">
            <div class="header-main">
              <div class="header-title">
                <a href="http://preview.byaviators.com/index.html">
                  <img src="./marketplace_files/logo.png" alt="Realsite">

                  <span style="font-family: Sans-serif">Notehub</span>
                </a>
              </div><!-- /.header-title -->

              <div class="header-navigation">
                <div class="nav-main-wrapper">

                  <div class="nav-main-title visible-xs">
                    <a href="http://localhost:3000/marketplace">
                      <img src="./marketplace_files/logo-blue.png" alt="Realsite">

                      Realsite
                    </a>
                  </div><!-- /.nav-main-title -->

                  <div class="nav-main-inner">
                    <nav>
                      <ul id="nav-main" class="nav nav-pills">
                        <li class="has-children ">
                          <a href="http://localhost:3000/profile/{{user._id}}"> My profile <i class="fa fa-caret-down"></i></a>
                        </li>
                        <li class="has-children ">
                          <a href="http://localhost:3000/newProduct"> Add a note <i class="fa fa-caret-down"></i></a>
                        </li>
                      </ul><!-- /.nav -->
                    </nav>
                  </div><!-- /.nav-main-inner -->
                </div><!-- /.nav-main-wrapper -->

                <button type="button" class="navbar-toggle">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div><!-- /.header-navigation -->
            </div><!-- /.header-main -->
          </div><!-- /.header-inner -->
        </div><!-- /.container -->
      </div><!-- /.header-wrapper -->
    </div><!-- /.header-->

    <div class="main" style="background-color: #b2ebf2">

      <div class="container">
        <div class="content">
          <div class="block mb-30 mt-60">
            <div class="hero">
              <div class="container">
                <div class="row">
                  <div class="search col-md-6" >
                    <input type="text" class="form-control" aria-label="..." placeholder="Search for any Note"></input>
                  </div>

        <form method="POST">
          <div class="form-group">
            <label>Major</label>
            <div class="select-style">
              <select class="selectpicker" name="major_select">
                <optgroup label="Majors">
                  <option id="Computer_Science"><span><i class="fa fa-shopping-cart"></i> Computer Science </span></option>
                  <option id="Economics"><i class="fa fa-beer"></i>Economics</a></option>
                  <option id="Math"><i class="fa fa-cutlery"></i>Math</a></option>
                  <option id="Bio_Engineering"><i class="fa fa-futbol-o"></i>Bio Engineering</a></option>
                  <option id="Management"><i class="fa fa-life-ring"></i>Management</a></option>
                </optgroup>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Price</label>
            <div class="select-style">
              <select class="selectpicker" name="price_select">
                <optgroup label="Price">
                  <option id="ascending"><i class="fa fa-beer"></i>Low to high</a></option>
                  <option id="descending"><i class="fa fa-cutlery"></i>High to low</a></option>
                  <option id="rating"><i class="fa fa-cutlery"></i> Rating</a></option>
                </optgroup>
              </select>
            </div>
          <div class="form-group">
            <label>School</label>
            <div class="select-style">
              <select class="selectpicker" name="school_select">
                <optgroup label="Schools">
                  <option id="Computer_Science"><span><i class="fa fa-shopping-cart"></i> Select your school </span></option>
                  <option id="HKU"><i class="fa fa-beer"></i>Hong Kong U</a></option>
                  <option id="UCS"><i class="fa fa-cutlery"></i>UC Berkeley</a></option>
                  <option id="UCSD"><i class="fa fa-futbol-o"></i>UC San Diego</a></option>
                  <option id="NWU"><i class="fa fa-life-ring"></i>Northwestern U</a></option>
                  <option id="all"><i class="fa fa-life-ring"></i> All </a></option>
                </optgroup>
              </select>
            </div>
          </div>
          </div>

                  <button class="btn waves-effect waves-light" type="submit" method="POST" style="margin-left: 10%"  style="color: white"> Submit </button>
              </form>

                </div>
              </div>
            </div>

            <h1>Check out notes!</h1>
            <p>Real estate template build upon the <a href="http://preview.byaviators.com/template/realsite/#">material design</a> concepts incorporating all features of modern<br> agency like multiple property displays, administration, submission forms, etc.</p>
          </div>

          <div class="promos">
            {{#each product}}
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="promo">
                <a href="http://preview.byaviators.com/template/realsite/headers-static-image.html">
                  <span class="promo-image">
                    <span class="promo-image-inner">
                      <img src="./marketplace_files/realsite-header-image.jpg" alt="">
                    </span><!-- /.promo-image-inner -->
                  </span><!-- /.promo-image -->

                  <div class="promo-content">
                    <span class="promo-title">{{name}}</span>
                    <span class="promo-subtitle">{{price}}</span>
                    <span class="promo-subtitle">{{this.owner.username}}</span>
                  </div><!-- /.promo-content -->
                </a>
              </div><!-- /.promo -->
            </div><!-- /.col-* -->
            {{/each}}
          </div><!-- /.promos -->
        </div><!-- /.block -->
      </div><!-- /.content -->
    </div><!-- /.container -->


  </div><!-- /.main -->

  <div id="footer" class="footer footer-simple">
    <div class="footer-top">
      <div class="container">
        <!-- /.footer-top-inner -->
      </div><!-- /.container -->
    </div><!-- /.footer-top -->

    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-inner">
          <div class="footer-bottom-left">
            © 2017 Dream Team - All rights reserved.
          </div><!-- /.footer-bottom-left -->
          <div class="footer-bottom-right">
            Created by <a href="http://byaviators.com/">Dream </a>
          </div><!-- /.footer-bottom-right -->
        </div><!-- /.footer-bottom-inner -->
      </div><!-- /.container -->
    </div><!-- /.footer-bottom -->
  </div><!-- /.footer asdsaasdasdass-->
</div><!-- /.page-wrapper sss-->

</body>

</html>
