<!DOCTYPE html>
<!-- saved from url=(0048)file:///Users/Peter/Desktop/notesmarketplace.htm -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/marketplace_files/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/marketplace_files/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/marketplace_files/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/marketplace_files/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="/marketplace_files/nv.d3.min.css">
    <link rel="stylesheet" type="text/css" href="/marketplace_files/realsite.css">
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <title> Notehub Marketplace </title>
</head>

<body>


<div class="page-wrapper">
                <div class="header header-minimal primary">
    <div class="header-wrapper">
        <div class="container">
            <div class="header-inner">
                <div class="header-main">
                    <div class="header-title">
                        <a href="http://preview.byaviators.com/index.html">
                            <img src="/marketplace_files/logo.png" alt="Realsite">

                            <span style="font-family: Sans-serif">Notehub</span>
                        </a>
                    </div><!-- /.header-title -->

                    <div class="header-navigation">
                        <div class="nav-main-wrapper">

    <div class="nav-main-title visible-xs">
        <a href="http://preview.byaviators.com/template/realsite/index.html">
            <img src="/marketplace_files/logo-blue.png" alt="Realsite">

            Realsite
        </a>
    </div><!-- /.nav-main-title -->

    <div class="nav-main-inner">
        <nav>
            <ul id="nav-main" class="nav nav-pills">
                <li class="has-children ">
                    <a href="http://preview.byaviators.com/template/realsite/#"> My profile <i class="fa fa-caret-down"></i></a>
                </li>

            </ul><!-- /.nav -->
        </nav>
    </div><!-- /.nav-main-inner -->
</div><!-- /.nav-main-wrapper -->

<button type="button" class="navbar-toggle">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
                    </div><!-- /.header-navigation -->
                </div><!-- /.header-main -->
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header-wrapper -->
</div><!-- /.header-->
    
    <div class="main">
        
        <div class="container">
            <div class="content">
                    <div class="block mb-30 mt-60">
        <div class="hero">
        <div class="container">
            <div class="row">    
        <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>   
                <div class="dropdown" style="margin-left: 20px">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Price
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>   
                <div class="dropdown" style="margin-left: 20px">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Date
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
                <div class="dropdown" style="margin-left: 20px">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Major
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>       
                <div class="dropdown" style="margin-left: 20px">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    University
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div> 
                        <input type="text" class="form-control" name="x" placeholder="Search Note..." style="margin-top: 20px">
                </div>
            </div>
        </div>

            <h1>Meet Realsite</h1>
            <p>Real estate template build upon the <a href="http://preview.byaviators.com/template/realsite/#">material design</a> concepts incorporating all features of modern<br> agency like multiple property displays, administration, submission forms, etc.</p>
        </div>

        <div class="promos">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/headers-static-image.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-header-image.jpg" alt="">
                                </span><!-- /.promo-image-inner -->
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Fixed image</span>
                                <span class="promo-subtitle">Header Version</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/headers-call-to-action.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-header-call-to-action.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Call to action</span>
                                <span class="promo-subtitle">Header Version</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo blue">
                        <a href="http://preview.byaviators.com/template/realsite/headers-google-map.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-header-search.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Google map</span>
                                <span class="promo-subtitle">Header Version</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/headers-chart.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-header-chart.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">NVD3 chart</span>
                                <span class="promo-subtitle">Header Version</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/admin-login.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-admin-login.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Login</span>
                                <span class="promo-subtitle">Admin</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/admin-dashboard.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-admin-dashboard.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Dashboard</span>
                                <span class="promo-subtitle">Admin</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/admin-property-browser.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-admin-browser.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Property Browser</span>
                                <span class="promo-subtitle">Admin</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/admin-map.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-admin-map.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Google Map</span>
                                <span class="promo-subtitle">Admin</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/properties-detail.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-property-detail.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Detail</span>
                                <span class="promo-subtitle">Property</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/properties-row.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-property-row.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Row Display</span>
                                <span class="promo-subtitle">Property</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/properties-simple.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-property-simple.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Simple Grid</span>
                                <span class="promo-subtitle">Property</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/properties-submit.html">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-property-submit.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Submit</span>
                                <span class="promo-subtitle">Property</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/footers-4-columns.html#footer">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-footer-4-columns.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">4 columns</span>
                                <span class="promo-subtitle">Footer Version</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/footers-3-columns.html#footer">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-footer-3-columns.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">3 columns</span>
                                <span class="promo-subtitle">Footer Version</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/footers-navigation.html#footer">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-footer-small.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Navigation</span>
                                <span class="promo-subtitle">Footer Version</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->

                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="promo">
                        <a href="http://preview.byaviators.com/template/realsite/footers-minimal.html#footer">
                            <span class="promo-image">
                                <span class="promo-image-inner">
                                    <img src="/marketplace_files/realsite-footer-standard.jpg" alt="">
                                </span>
                            </span><!-- /.promo-image -->

                            <div class="promo-content">
                                <span class="promo-title">Minimal</span>
                                <span class="promo-subtitle">Footer Version</span>
                            </div><!-- /.promo-content -->
                        </a>
                    </div><!-- /.promo -->
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.promos -->
    </div><!-- /.block -->

    
            </div><!-- /.content -->
        </div><!-- /.container -->

            
    </div><!-- /.main -->

                        <div id="footer" class="footer footer-simple">
    <div class="footer-top">
        <div class="container">
            <!-- /.footer-top-inner -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="footer-bottom-left">
                    © 2017 Realsite - Material Real Esteate Template. All rights reserved.
                </div><!-- /.footer-bottom-left -->

                <div class="footer-bottom-right">
                    Created by <a href="http://byaviators.com/">Aviators</a>
                </div><!-- /.footer-bottom-right -->
            </div><!-- /.footer-bottom-inner -->
        </div><!-- /.container -->
    </div><!-- /.footer-bottom -->
</div><!-- /.footer -->
            </div><!-- /.page-wrapper-->

</body>

</html>