
TEST PAGE FOR FILE
<form style='border: 2px solid rgba(0, 0, 0, 0.3); height: 70px; width: 400px'
      action="/jz1"
      class="dropzone dz-clickable"
      name="userID"
      id="dropzonefile">
      <div class="dz-default dz-message">
        <span> Drop files here! </span>
      </div>
</form>
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
