
TEST PAGE FOR FILE
<form style='border: 2px solid rgba(0, 0, 0, 0.3); height: 70px; width: 400px'
      action="/newProduct"
      class="dropzone dz-clickable"
      name="newProduct"
      id="dropzonefile">
      <div class="dz-default dz-message">
        <span> Drop files here! </span>
      </div>
</form>
<script src="scripts/"></script>
