<!DOCTYPE html>
<!-- saved from url=(0063)http://matveyan.ru/Themes/mycity/02.Default_Light/html/03.html# -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Userprofile </title>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="/Userprofile/A.bootstrap.css.pagespeed.cf.laZJ-JbHjf.css">
<!--Main styles-->
<link rel="stylesheet" type="text/css" href="/Userprofile/A.main.css+adaptive.css+pushy.css+font-awesome.css+animate.css,Mcc.7Xi885fzpN.css.pagespeed.cf.D0GJ6jOiSK.css">

<link rel="stylesheet" type="text/css" href="/Userprofile/A.settings.css.pagespeed.cf.6k-xcbLfXv.css" media="screen">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body class="inner_page innerpage">


<!-- Use any element to open the sidenav -->

<div class="bg_parallax" id="inb" style="background-position: 11.88px -23.85px;">
      <!--navigation swipe-->
  <div class="menu-btn">☰</div>
  <nav class="pushy pushy-left">
    <div class="profile">
      <div class="avatar"><span>5</span></div>
      <h3><a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/03.html">Ananew Matvey</a></h3>
      <a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/03.html#" class="log_btn">Log in</a>
    </div>

  </nav>

  <!--add-->
  <div class="add_place none" id="pl">
    <div class="place_form">
      <i class="fa fa-times close_window" id="close"></i>
      <h3>Add new place<span></span></h3>
      <form>
        <label>Place name:<input type="text"></label>
        <label>latitude:<input type="text"></label>
        <label>longitude:<input type="text"></label>
        <label>Categori:
          <select>
            <option value="Cafe">Cafe</option>
            <option value="Bar">Bar</option>
            <option value="Cinema">Cinema</option>
            <option value="Shop">Shop</option>
            <option value="Club">Club</option>
            <option value="Bank">Bank</option>
          </select>
        </label>
        <a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/03.html#" class="green_btn_header" id="add">Add</a>
      </form>
    </div>
  </div>

  <!--autorization-->
  <div class="add_place none" id="autorized">
    <div class="place_form login_form">
      <i class="fa fa-times close_window" id="closeau"></i>
      <h3>Autorization<span></span></h3>
      <form>
        <label>Login:<input type="text"></label>
        <label>Password:<input type="text"></label>
        <a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/03.html#" class="btn btn-success">Log in</a>
        <a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/03.html#" class="btn btn-primary"><i class="icon-facebook"></i>Log in with Facebook</a>
      </form>
    </div>
  </div>
  <div class="site-overlay"></div>
  <div id="container">
    <!--header-->
    <div class="container-fluid header inner_head">
      <div class="fixed_w">
        <div class="row">
          <div class="col-md-12">
            <input type="text" class="search" placeholder="search"><a href="http://localhost:3000/newProduct" class="green_btn_header" id="ad">Add note!</a></div>
          </div>
        </div>
      </div>
      <div class="container page_info">
        <div class="col_md_12">
          <img src="https://pbs.twimg.com/profile_images/378800000100954708/9906010b3022ecacad786d4baaa57fac_400x400.jpeg" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
          <h1> Steven Landgraf</h1>
          <span class="status">Currently studeis at UC San Diego</span>
          <h3 class="status"> Major: Mechanical Engieerning</h3>
           <h3 class="status"> Year: Sophomore </h3>
           <h3 class="status"> HAS <strong style="color:purple">30 </strong>NOTES UPLOADED </h3>

        </div>


      </div>
      <div class="container contant">
        <div class="row cont">

          <!-- Left column-->

          <!--content-->
          <div class="col-md-9 basic vp">

            <!--visited places-->

            <!--reviews-->
            <div class="reviews">
              <h4>3 Reviews:</h4>

              <!--review-->
              <div class="rev">
                <div class"user"><a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/02.html" class"user_avatars">
                  <img src="http://ilead.engineering.utoronto.ca/files/2015/02/jmr500px.jpg" alt="" data-pagespeed-url-hash="2157941605" onload="pagespeed.CriticalImages.checkImageForCriticality(this);" style="height:70px">
                </a></div>
                <div class="texts">
                  <div class="head_rev"><a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/02.html">Oki doki</a> <span>12.09.2008</span></div>
                  <div class="text_rev">Get a history lesson on possibly the world's most famous beverage -- and sample Coca-Cola products from around the globe! Kids will love it...</div>
                </div>
              </div>
              <!--review end-->

              <!--review-->
              <div class="rev">
                <div class"user"><a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/02.html" class"user_avatars">
                  <img src="https://www.mills.edu/uniquely-mills/students-faculty/student-profiles/images/student-profile-veronica-mills-college.jpg" style="height:60px; width:60px" alt="" data-pagespeed-url-hash="1744972516" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a></div>
                  <div class="texts">
                    <div class="head_rev"><a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/02.html">Old capitan pub</a> <span>12.09.2008</span></div>
                    <div class="text_rev">Get a history lesson on possibly the world's most famous beverage -- and sample Coca-Cola products from around the globe! </div>
                  </div>
                </div>
                <!--review end-->


                <!--review-->
                <div class="rev">
                  <div class"user"><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtz-J6qG-FoPBXYt51X5ZzPee1O7E_sgFbYy3a4T2leHQUtJnY" style="height" alt="" data-pagespeed-url-hash="1863441684" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtz-J6qG-FoPBXYt51X5ZzPee1O7E_sgFbYy3a4T2leHQUtJnY" style="height:70px; width:60px" alt="" data-pagespeed-url-hash="1744972516" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                  </div>
                    <div class="texts">
                      <div class="head_rev"><a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/02.html">Royal burger</a> <span>12.09.2008</span></div>
                      <div class="text_rev">Get a history lesson on possibly the world's most famous beverage -- and sample Coca-Cola products from around the globe! Kids will love it...</div>
                    </div>
                  </div>
                  <!--review end-->
                </div>

                <!--morebtn-->
                <a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/03.html#" class="more_btn">Load more</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--
      #################################
      - SCRIPT FILES -
      #################################
    -->
    <!--Google maps API linl-->


    <!--Parallax bg-->

  </body></html>
